.container{
  padding: 0 2em;
  background-color: aliceblue;
}

.center {
  text-align: center;
}
.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutBody {
  max-width: 45vw;
}

@media only screen and (max-width: 500px){
  .aboutBody {
    max-width: 80vw;
  }
}
